img {
  width: 200px;
}

form {
  align-self: flex-start;
}

.contacts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  /*background-color: gray;*/
}

ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
  width: 30%;
}

button {
  font-weight: 600;
  background-color: orangered;
  margin-left: 40px;
}

div {
  margin-left: 10px;
  margin-bottom: 20px;
}
